[Unit]
Description=Electronero Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/electronero/build/release/bin/electronerod --detach
Restart=always
User=etnxdaemon

[Install]
WantedBy=multi-user.target
